<h1>Chat</h1>

<div id="chat-container">

  <div id="chat-window">
    <div id="actions"></div>
    <div id="output">
    </div>

  </div>
  <input type="text" id="username" placeholder="Username" disabled />
  <input type="text" id="message" placeholder="Message" />
  <button id="send">Send</button>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>